<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel almovconsdia_consulta search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN almovconsdia_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_almovconsdia_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="almovconsdia_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="almovconsdia_id" data-fieldname="almovconsdia_id" >


	<label class="r-search-label control-label" for="{$labelfor_almovconsdia_id}">
		{$label almovconsdia_consulta almovconsdia_id }	</label>
	<div class="r-search-option">
		{$searchtype_almovconsdia_id}
	</div>
	<div class="r-search-field">
		{$almovconsdia_id_editcontrol}	</div>
	<div class="r-search-field">
		{$almovconsdia_id_editcontrol1}
	</div>
	
</div>

{END almovconsdia_id_fieldblock}
											
{BEGIN mcd_cantmovto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcd_cantmovto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcd_cantmovto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="mcd_cantmovto" data-fieldname="mcd_cantmovto" >


	<label class="r-search-label control-label" for="{$labelfor_mcd_cantmovto}">
		{$label almovconsdia_consulta mcd_cantmovto }	</label>
	<div class="r-search-option">
		{$searchtype_mcd_cantmovto}
	</div>
	<div class="r-search-field">
		{$mcd_cantmovto_editcontrol}	</div>
	<div class="r-search-field">
		{$mcd_cantmovto_editcontrol1}
	</div>
	
</div>

{END mcd_cantmovto_fieldblock}
											
{BEGIN mcd_saldant_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcd_saldant}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcd_saldant{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="mcd_saldant" data-fieldname="mcd_saldant" >


	<label class="r-search-label control-label" for="{$labelfor_mcd_saldant}">
		{$label almovconsdia_consulta mcd_saldant }	</label>
	<div class="r-search-option">
		{$searchtype_mcd_saldant}
	</div>
	<div class="r-search-field">
		{$mcd_saldant_editcontrol}	</div>
	<div class="r-search-field">
		{$mcd_saldant_editcontrol1}
	</div>
	
</div>

{END mcd_saldant_fieldblock}
											
{BEGIN mcd_valmovto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcd_valmovto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcd_valmovto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="mcd_valmovto" data-fieldname="mcd_valmovto" >


	<label class="r-search-label control-label" for="{$labelfor_mcd_valmovto}">
		{$label almovconsdia_consulta mcd_valmovto }	</label>
	<div class="r-search-option">
		{$searchtype_mcd_valmovto}
	</div>
	<div class="r-search-field">
		{$mcd_valmovto_editcontrol}	</div>
	<div class="r-search-field">
		{$mcd_valmovto_editcontrol1}
	</div>
	
</div>

{END mcd_valmovto_fieldblock}
											
{BEGIN mcd_valunitant_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcd_valunitant}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcd_valunitant{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="mcd_valunitant" data-fieldname="mcd_valunitant" >


	<label class="r-search-label control-label" for="{$labelfor_mcd_valunitant}">
		{$label almovconsdia_consulta mcd_valunitant }	</label>
	<div class="r-search-option">
		{$searchtype_mcd_valunitant}
	</div>
	<div class="r-search-field">
		{$mcd_valunitant_editcontrol}	</div>
	<div class="r-search-field">
		{$mcd_valunitant_editcontrol1}
	</div>
	
</div>

{END mcd_valunitant_fieldblock}
											
{BEGIN mcdalmacen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcdalmacen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcdalmacen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="mcdalmacen" data-fieldname="mcdalmacen" >


	<label class="r-search-label control-label" for="{$labelfor_mcdalmacen}">
		{$label almovconsdia_consulta mcdalmacen }	</label>
	<div class="r-search-option">
		{$searchtype_mcdalmacen}
	</div>
	<div class="r-search-field">
		{$mcdalmacen_editcontrol}	</div>
	<div class="r-search-field">
		{$mcdalmacen_editcontrol1}
	</div>
	
</div>

{END mcdalmacen_fieldblock}
											
{BEGIN mcdcodelem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcdcodelem}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcdcodelem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="mcdcodelem" data-fieldname="mcdcodelem" >


	<label class="r-search-label control-label" for="{$labelfor_mcdcodelem}">
		{$label almovconsdia_consulta mcdcodelem }	</label>
	<div class="r-search-option">
		{$searchtype_mcdcodelem}
	</div>
	<div class="r-search-field">
		{$mcdcodelem_editcontrol}	</div>
	<div class="r-search-field">
		{$mcdcodelem_editcontrol1}
	</div>
	
</div>

{END mcdcodelem_fieldblock}
											
{BEGIN mcdcuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcdcuenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcdcuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="mcdcuenta" data-fieldname="mcdcuenta" >


	<label class="r-search-label control-label" for="{$labelfor_mcdcuenta}">
		{$label almovconsdia_consulta mcdcuenta }	</label>
	<div class="r-search-option">
		{$searchtype_mcdcuenta}
	</div>
	<div class="r-search-field">
		{$mcdcuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$mcdcuenta_editcontrol1}
	</div>
	
</div>

{END mcdcuenta_fieldblock}
											
{BEGIN mcdnrodoc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcdnrodoc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcdnrodoc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="mcdnrodoc" data-fieldname="mcdnrodoc" >


	<label class="r-search-label control-label" for="{$labelfor_mcdnrodoc}">
		{$label almovconsdia_consulta mcdnrodoc }	</label>
	<div class="r-search-option">
		{$searchtype_mcdnrodoc}
	</div>
	<div class="r-search-field">
		{$mcdnrodoc_editcontrol}	</div>
	<div class="r-search-field">
		{$mcdnrodoc_editcontrol1}
	</div>
	
</div>

{END mcdnrodoc_fieldblock}
											
{BEGIN consumo_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_consumo_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="consumo_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="consumo_id_fk" data-fieldname="consumo_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_consumo_id_fk}">
		{$label almovconsdia_consulta consumo_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_consumo_id_fk}
	</div>
	<div class="r-search-field">
		{$consumo_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$consumo_id_fk_editcontrol1}
	</div>
	
</div>

{END consumo_id_fk_fieldblock}
											
{BEGIN mcdnomelem_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcdnomelem}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcdnomelem{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="mcdnomelem" data-fieldname="mcdnomelem" >


	<label class="r-search-label control-label" for="{$labelfor_mcdnomelem}">
		{$label almovconsdia_consulta mcdnomelem }	</label>
	<div class="r-search-option">
		{$searchtype_mcdnomelem}
	</div>
	<div class="r-search-field">
		{$mcdnomelem_editcontrol}	</div>
	<div class="r-search-field">
		{$mcdnomelem_editcontrol1}
	</div>
	
</div>

{END mcdnomelem_fieldblock}
											
{BEGIN mcd_salddisponible_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mcd_salddisponible}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mcd_salddisponible{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="mcd_salddisponible" data-fieldname="mcd_salddisponible" >


	<label class="r-search-label control-label" for="{$labelfor_mcd_salddisponible}">
		{$label almovconsdia_consulta mcd_salddisponible }	</label>
	<div class="r-search-option">
		{$searchtype_mcd_salddisponible}
	</div>
	<div class="r-search-field">
		{$mcd_salddisponible_editcontrol}	</div>
	<div class="r-search-field">
		{$mcd_salddisponible_editcontrol1}
	</div>
	
</div>

{END mcd_salddisponible_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
